
.boxSlide{
  
    background:#fff;
    border:1px grey solid;
    display:none;
    position:absolute; 
    left:0;
    transition:all 1s;
    -webkit-transition:all 500ms;
    padding:30px
  }
  a{
      background: grey;
      padding: 5px 20px;
      color:white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

  }
  ul{
    padding:0px;
    margin: 3px;
    background: grey;
    height: 28px;
    padding: 10px;
    list-style: none;
    display:inline-block
}
li{
  padding:10px;
}
.wrapper{
  background: grey;
}
